.color{
    background-color: green;
}
.fixed{
   position: fixed;
}
.animations{
    transition: all .5s linear 5s;
}

                    // Action buttins
.actions{
    bottom: 20px;
    right: 20px;
    z-index: 999;
    transform: translateY(0px);
}
.actions .btn:first-child{ 
    border: 0px;
    border-radius: 10px 0px 0px 10px}
.actions .btn:last-child{
    border: 0px;
    border-radius: 0px 10px 10px 0px;
}
.actions .btn:hover{
background-color: #cacccd;
}


                // chat box
.chatbox{
    width: 200px;
    height: 90vh;
    right: 24px;
    top: 13px;
    box-shadow: 0px 0px 0px 10px #0000000a;
    border-radius: 5px;
}                